{% extends 'base_preregister.html' %} {% block page_title %}Login{% endblock %} {% block content %}


<!--Login form-->
<section class="profile-card-container">
    <div class="card-container card-margin-top">
        <div class="card-form card account-access-form">
            <div class="card-form-container">
                <h3>Login to Your Account</h3>
                <hr>
                <form class="standard-form" method="POST" style="display: flex; flex-direction: column; align-items: center;">
                    {% csrf_token %}
                    <div style="width: 100%;">
                        {{ login_form.as_p }}
                    </div>
                    <button class="submit-wide submit-success" type="submit" style="margin: 20px 0;">Login</button>
                </form>
            </div>
            <p class="forgot-password" style="text-align: center;">Forgot password? Reset it <a href="{% url 'password_reset' %}">here</a></p>
        </div>
    </div>
</section>

<div class="footer-spacer">
</div>

{% endblock %}
